<!DOCTYPE html>
<html lang="en">
  <%- include("partials/meta") %>
  <body>
    <div id="contenido-sin-modal">
      <div class="content">
        <div class="header">
          <h1>Listado de Artículos</h1>
          <a href="/admin/articulos/crear" class="btn btn-nuevo">Nuevo</a>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>id</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Fecha de creación</th>
                <th>Autor</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% for (const articulo of articulos) { %>
              <tr>
                <td><%= articulo.id %></td>
                <td><%= articulo.title %></td>
                <td><%= articulo.content %></td>
                <td><%= articulo.createdAt.toDateString() %></td>
                <td><%= articulo.user.firstname + " " + articulo.user.lastname %></td>
                <td class="td-acciones">
                  <a href="/admin/articulos/editar/<%= articulo.id %>" class="btn btn-editar"
                    >Editar</a
                  >
                  <button
                    type="submit"
                    id="btn-eliminar"
                    class="btn-eliminar btn"
                    onclick="clickEliminar('<%= articulo.id %>')"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="dark-background"></div>
    <div id="modal-box">
      <p id="modal-msg"></p>
      <button id="cancelar-modal" class="btn">Cancelar</button>
      <a href="" id="aceptar-modal" class="btn">Eliminar</a>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
