<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Ejercicio 21</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a>
          </li> -->
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Authors</a>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">Contact</a>
          </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/<%= articulo.image %>')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1><%= articulo.title %></h1>
              <span class="subheading"
                >Posted by
                <a style="color: white" href="#!"
                  ><%= articulo.user.firstname + " " + articulo.user.lastname %>
                </a>
                <%= articulo.createdAt.toDateString() %></span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p style="text-align: justify"><%= articulo.content %></p>
            <p style="text-align: justify"><%= articulo.content %></p>
          </div>
        </div>
      </div>
    </article>
    <!-- Comments -->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <h4 class="mt-5">Comentarios</h4>
          <form action="/comentario/<%= articulo.id %>" method="POST">
            <div class="mb-3">
              <label for="authorName" class="form-label">Nombre</label>
              <input
                class="form-control"
                id="authorName"
                name="authorName"
                type="text"
                placeholder="Ingrese nombre y apellido..."
              />
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Nuevo comentario</label>

              <textarea
                class="form-control"
                name="comment"
                id="comment"
                rows="10"
                aria-describedby="comment"
                placeholder="Ingrese su comentario..."
              ></textarea>
            </div>
            <% if (typeof error != "undefined") { %>
            <p style="color: red" class="mt-3"><%= error %></p>
            <% } %>
            <button class="btn btn-primary">Enviar</button>
          </form>

          <hr />

          <% for (const comment of comments) {%>
          <div id="comment<%= comment.id %>">
            <p>Autor: <em><%= comment.authorName %></em></p>
            <p class="text-secondary"><%= comment.content %></p>
          </div>
          <hr />

          <% } %>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
